.grid {
    position: relative;
    width: 300px;
    height: 200px;
  }

.item {
  display: block;
  position: absolute;
  width: 100%;
  height: 250px;
  margin: 2px;
  z-index: 1;
}

#jsonLargeTextArea {
  display: block;
  position: fixed;
  width: 30%;
  height: 95%;
  margin: 2px;
  z-index: 10;
  top: 20px;
  right:0px;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item.muuri-item-positioning {
  z-index: 2;
}

.item.muuri-item-releasing {
  z-index: 3;
}

.item.muuri-item-dragging {
  z-index: 4;
  border: 3px solid;
  border-width: 3px;
  border-color: white;
  border-radius: 3px;
}

.item-content-default {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #171717;
  font-size: 50px;
  color:	#5F5F5F;
  cursor: pointer;
}

.item-content-selected {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background:red;
  font-size: 50px;
  color:	#5F5F5F;
  cursor: pointer;
}

.cell-name-label, .cell.config-label, p {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.cell-name-label {
  font-size: 25px;
}

.cell-config-label {
  font-size: 15px;
}

.item.muuri-item-dragging .item-content {
  background:rgb(255, 255, 255) ; opacity: 0.5;
}

.item.muuri-item-releasing .item-content {
  background:rgb(255, 255, 255) ; opacity: 0.5;
}

.text {
  color: white;
}

.grouping {
  margin-bottom: 15px;
}

.file-input {
  border-style: solid;
  border-width: 3px;
  border-color: grey;
  background-color: darkgrey;
}

#mainActionSection {
  text-align: center;
  margin-top: 50px;
}

#jsonButton {
  background-color: 	rgb(0,128,128);
  color: white;
  position: relative;
  top: 50%
}

#createButton {
  background-color: green;
  color: white;
}



